*{
	font-family: 'PT Serif', italic;
	font-size: 20px;
}
body{
	margin:0;
	padding:0;
	background-image: url("y.jpg");
	height: 100vh; 
	background-position: center;
 	background-repeat: no-repeat;
  	background-size: cover;
	text-align:center;
	position:relative;
	left: 15%;
	transform: translateX(-15%);
}
#calc{
	margin: 0 auto 0 auto;
}
@media screen and (min-width: 768px)
{
	#calc{
		width: 700px;
		height: 500px;
	}
} 
textarea{
	color: #000;
	background: #F0FFFF;
	display: block;
	margin: 0 auto;
	resize: none;
}
button{
	width: 70px;
	height: 60px;
	border-radius: 20px;
	background-color: #990012;
	color: #fff;
	padding: 5px;
	margin: 4px;
}
button:hover{
	background-color: #C11B17;
	color: black;
}
