*{
	font-family: 'PT Serif', italic;
	font-size: 20px;
}
body{
	margin:0;
	padding:0;
	background-image: url("mmm.jpg");
	height: 100vh; 
	background-position: center;
 	background-repeat: no-repeat;
  	background-size: cover;
	text-align:center;
	position:relative;
	left: 15%;
	transform: translateX(-15%);
}
#calc{
	position: fixed;
  	top: 50%;
  	left: 50%;
  	width: 70%;
	height: 80%;
  	transform: translate(-50%, -50%);
  	align-items: center;
}

textarea{
	color: #000;
	background-color: #F0FFFF;
	border-radius: 40px;
	width: 170px;
	height: 60px;
	resize: none;
	padding: 12px;
	text-align: center;
	margin-bottom: 12px;
}
::-webkit-input-placeholder {
  	opacity: 0.8;
  	color: silver;
}
button{
	width: 70px;
	height: 60px;
	color: black;
	opacity: 0.8;
	padding: 5px;
	margin: 10px;
}
#add,#div{
	border-radius: 70px 0 70px 0;
	background-image: linear-gradient(#F08080, gold);
}
#sub,#mul{
	border-radius: 0 70px 0 70px;	
	background-image: linear-gradient(green, gold);
}
#clr{
	border-radius: 40px 40px;
	background-image: linear-gradient(to bottom right, #87CEFA, gold);
}
button:hover{
	opacity: 1;
	animation: bounce 1s;
}
@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40%,80% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
#three{
	margin: 2% auto;
	border-radius: 40px;
	width: 150px;
	height: 70px;
	text-align: center;
	padding: 18px;
	background-color: #F0FFFF;
}
